root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile,*.mk}]
indent_style = tab

[*.{ily,ly}]
indent_size = unset

[LICENSE]
indent_style = unset
trim_trailing_whitespace = false

[VERSION]
insert_final_newline = false
